<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/assets/img/apple-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/assets/img/favicon.ico') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/light-bootstrap-dashboard.css') }}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{{ url_for('static', filename='css/demo.css') }}" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{ url_for('static', filename='img/assets/img/sidebar-4.png') }}">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text">
                        SPIA
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/user">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/case">
                            <i class="nc-icon nc-notes"></i>
                            <p>Case</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/photograph">
                            <i class="nc-icon nc-album-2"></i>
                            <p>Photograph</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/util_forms">
                            <i class="nc-icon nc-layers-3"></i>
                            <p>Forms</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/group">
                            <i class="nc-icon nc-bulb-63"></i>
                            <p>Make a Group</p>
                        </a>
                    </li>
                    
                    <li class="nav-item active active-pro">
                        <a class="nav-link active" href="/user">
                            <i class="nc-icon nc-alien-33"></i>
                            <p>Account</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/home"> Dashboard </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">

                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/user">
                                    <span class="no-icon">Account</span>
                                </a>
                            </li>
<!--                            <li class="nav-item dropdown">-->
<!--                                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                    <span class="no-icon">Dropdown</span>-->
<!--                                </a>-->
<!--                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
<!--                                    <a class="dropdown-item" href="#">Action</a>-->
<!--                                    <a class="dropdown-item" href="#">Another action</a>-->
<!--                                    <a class="dropdown-item" href="#">Something</a>-->
<!--                                    <a class="dropdown-item" href="#">Something else here</a>-->
<!--                                    <div class="divider"></div>-->
<!--                                    <a class="dropdown-item" href="#">Separated link</a>-->
<!--                                </div>-->
<!--                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link" href="/">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <center>
            <!-- End Navbar -->
<!--cases cards ends-->
            <div class="content">
                {% block content %}{% endblock %}

            </div>
            <footer class="footer">
    <div class="container-fluid">
        <nav>
            <ul class="footer-menu">
                <li><a href="#">Nottingham Trent University</a></li>
                <li><a href="#">Forensic Department</a></li>
            </ul>
            <p class="copyright text-center">©
                <a href="https://now.ntu.ac.uk/">NTU</a> Maleesha Dedigama N0803016
            </p>
        </nav>
    </div>
</footer>
        </div>
    </div>
               
</body>
<!--   Core JS Files   -->
<!--"{{ url_for('static', filename='js/assets/js/core/jquery.3.2.1.min.js') }}"-->
<script src="{{ url_for('static', filename='js/assets/js/core/jquery.3.2.1.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/assets/js/core/popper.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{{ url_for('static', filename='js/assets/js/plugins/bootstrap-switch.js') }}"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--  Chartist Plugin  -->
<script src="{{ url_for('static', filename='js/assets/js/plugins/chartist.min.js') }}"></script>
<!--  Notifications Plugin    -->
<script src="{{ url_for('static', filename='js/assets/js/plugins/bootstrap-notify.js') }}"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="{{ url_for('static', filename='js/assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="{{ url_for('static', filename='js/assets/js/demo.js') }}"></script>
<script type="text/javascript">
<!--    $(document).ready(function() {-->
<!--        // Javascript method's body can be found in assets/js/demos.js-->

<!--        demo.showNotification();-->

<!--    });-->
</script>

</html>
